{%  extends 'base.html' %}

{% block content %}
    
    <div style="width: 100%;" >
        <div class="col-md-8" style="float:left; width: 70%">
            <h2>  HomePage</h2>
            <p>  Welcome to my site : {{user.username}} </p>
            
        </div>
        
        <div style="float:right;" >
            <h1>Other peaple</h1>
            {% for user in users %}
                {% if not user in followers %}
                    <a href="{%  url 'accounts:profile_with_pk' pk=user.pk  %}">
                        <p> {{  user.username }}</p>
                    </a>
                
                    <a href=" {% url 'home:change_followers' operation='add' pk=user.pk  %} ">
                        <button type="button" class="btn btn-success">follow</button>
                    </a>
                {% endif %}
            {% endfor %}

            <h1>Follower list</h1>
            {% for follower in followers %}
                <a href="{%  url 'accounts:profile_with_pk' pk=follower.pk  %}">
                    <p> {{  follower.username }}</p>
                </a>
                <a href=" {% url 'home:change_followers' operation='remove' pk=follower.pk  %} ">
                    <button type="button" class="btn btn-secondary">Unfollow</button>
                </a>
            {% endfor %}
        </div>
        
        

    </div>

{% endblock %}