{%  extends 'base.html' %}
{% load static %}
{%  block content %}

<table class="table mb-0">
  <h3> {{articl.titre}}</h3>
  <thead>
    <tr>
      <th>Created by</th>
      <th>Created on</th>
      <th>Read it</th>
      <th>add Rating</th>
      <th>Average Rating</th>
      <th>Fav section</th>
    </tr>
  </thead>
  
  <tbody>
      
      <tr>
          <td>{{articl.user}} </td>
          <td>{{articl.timestamp}} </td>
          <td><a href="{{articl.path.url}}" class="btn btn-primary btn-sm" target="_blank"> Open pdf </a></td>
          <td>
            <form action=" {% url 'articl:ajouter_note' articl.pk %} "  method="POST" >
              {% csrf_token %}
              <label for="note"><h3>Rating</h3></label>
              
              <input type="range" name="note" id="rangeInpute" min="0" max="5" step="1" value="0" oninput="amount.value-rangeInpute.value">
              <output name="amount" id="amount" for="rangeInpute">0</output>
              <br>
              <input type="submit" class="btn btn-danger" value="ajouter note" >
              
        
            </form>
          </td>
          <td>{{average}}</td>
          <td><div id="favourite-section"> 
            {% if is_favourite %}
                <a href=" {% url 'articl:favourite'  pk=articl.pk  %} ">
                    <button type="button" class="btn btn-success"> on fav</button>
                    <i class="far fa-heart"> </i>
                </a>
            {% else %}
                <a href=" {% url 'articl:favourite'  pk=articl.pk  %} ">
                    <button type="button" class="btn btn-danger"> add to fav</button>
                    <i class="far fa-heart"> </i> 
                </a>
            {% endif %}
        </div></td>
      </tr>
    
  </tbody>
</table>
{% endblock %}