{%  extends 'base.html' %}

{%  block content %}
<h2>List of articls</h2>

    
    <p>
      <a href="{% url 'articl:postarticl' %}" class="btn btn-primary">Upload Articl</a>
    </p>
    

  <table class="table mb-0">
    <thead>
      <tr>

      </tr>
      <tr>
        
        <th>Title</th>
        <th>Posted by</th>
        <th>Download</th>
        <th>Noter</th>
        <th>Note</th>
        <th>Favorite</th>
        <th>Delete</th>
        
      </tr>
    </thead>
    <tbody>
      {% for artPub in artPubs %}
        <tr>
            <td>{{artPub.titre}} </td>
            <td>{{artPub.user}} </td>
            <td><a href="{{artPub.path.url}}" class="btn btn-primary btn-sm" target="_blank"> Open pdf </a>
            </td>
            <td>
              <form action=" {% url 'articl:ajouter_note' artPub.pk %} "  method="POST" >
                {% csrf_token %}
                <label for="note">Rating</label>
                <input type="text" name="note" class="form-control" >
                <br>
                <input type="submit" class="btn btn-danger" value="ajouter note" >

              </form>
              
            </td>
    
              {%for note in notes%}
                {% if note.user == request.user %}
                  {%if artPub.pk == note.articl.pk %}
                    <td>{{note.note}} <br> {{note.user}}</td>
                    

                  {%endif%}
                {%endif%}
              {% endfor %}
              <td>
                <a href=" {% url 'articl:favorite_Articl'  pk=artPub.pk  %} ">
                  <button type="button" class="btn btn-success">fav</button>
                  
                </a>
              </td>
            {% if artPub.user == request.user %}
              <td>
                <form method="POST" action="{% url 'articl:delele_Articl' artPub.pk  %} ">
                  {% csrf_token %}
                  <button type="submit" class="btn-danger btn-sm">Delete </button>
                   
                </form>
              </td>
            {% endif %}

            
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}